<html>
  <head>
    <style>
    body {background: <%= bgcolor %>;}
    </style>
  </head>
  <body>
    <p>Guess a number!</p>
    <p><%= message %> </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess' />
    </form>
  </body>
</html>
